body {
    background-color: green;
    font-family: Roboto, sans-serif;

    h1 {
        font-size: 32px;
        text-align: center;
        color: red;
    }

    .test {
        display: flex;
        justify-self: center;
        align-self: center;
    }

    @media screen and (max-width: 760px ){
        h1 {
            font-size: 28px;
        }
        .test {
            flex-direction: column;
        }
    }
    
    @media screen and (max-width: 480px ){
        h1 {
            font-size: 24px;
        }
    }
}

